
[RemoveTracks]
W2_FP_Holster.70=all
W2_FP_Holster.71=all
W2_FP_Holster.72=all
W2_FP_Holster.73=all
W2_FP_Holster.74=all
W2_FP_Holster.75=all
W2_FP_Holster.76=all
W2_FP_Holster.77=all
W2_FP_Holster.78=all
W2_FP_Holster.79=all
W2_FP_Holster.80=all
W2_FP_Holster.81=all
W2_FP_Holster.82=all
W2_FP_Holster.83=all
W2_FP_Holster.84=all
W2_FP_Holster.85=all
W2_FP_Holster.86=all
W2_FP_Holster.87=all
W2_FP_Holster.88=all
W2_FP_Holster.89=all
W2_FP_Holster.90=all
W2_FP_Holster.91=all
