
[RemoveTracks]
FP_Mob1_fly_R_loop_IP.70=all
FP_Mob1_fly_R_loop_IP.71=all
FP_Mob1_fly_R_loop_IP.72=all
FP_Mob1_fly_R_loop_IP.73=all
FP_Mob1_fly_R_loop_IP.74=all
FP_Mob1_fly_R_loop_IP.75=all
FP_Mob1_fly_R_loop_IP.76=all
FP_Mob1_fly_R_loop_IP.77=all
FP_Mob1_fly_R_loop_IP.78=all
FP_Mob1_fly_R_loop_IP.79=all
FP_Mob1_fly_R_loop_IP.80=all
FP_Mob1_fly_R_loop_IP.81=all
FP_Mob1_fly_R_loop_IP.82=all
FP_Mob1_fly_R_loop_IP.83=all
FP_Mob1_fly_R_loop_IP.84=all
FP_Mob1_fly_R_loop_IP.85=all
FP_Mob1_fly_R_loop_IP.86=all
FP_Mob1_fly_R_loop_IP.87=all
FP_Mob1_fly_R_loop_IP.88=all
FP_Mob1_fly_R_loop_IP.89=all
FP_Mob1_fly_R_loop_IP.90=all
FP_Mob1_fly_R_loop_IP.91=all
