
[RemoveTracks]
Bandage_Idle_01.70=all
Bandage_Idle_01.71=all
Bandage_Idle_01.72=all
Bandage_Idle_01.73=all
Bandage_Idle_01.74=all
Bandage_Idle_01.75=all
Bandage_Idle_01.76=all
Bandage_Idle_01.77=all
Bandage_Idle_01.78=all
Bandage_Idle_01.79=all
Bandage_Idle_01.80=all
Bandage_Idle_01.81=all
Bandage_Idle_01.82=all
Bandage_Idle_01.83=all
Bandage_Idle_01.84=all
Bandage_Idle_01.85=all
Bandage_Idle_01.86=all
Bandage_Idle_01.87=all
Bandage_Idle_01.88=all
Bandage_Idle_01.89=all
Bandage_Idle_01.90=all
Bandage_Idle_01.91=all
