
[RemoveTracks]
W2_M1_Stand_Aim_Point_Center.1=all
W2_M1_Stand_Aim_Point_Center.2=all
W2_M1_Stand_Aim_Point_Center.3=all
W2_M1_Stand_Aim_Point_Center.4=all
W2_M1_Stand_Aim_Point_Center.5=all
W2_M1_Stand_Aim_Point_Center.6=all
W2_M1_Stand_Aim_Point_Center.7=all
W2_M1_Stand_Aim_Point_Center.8=all
W2_M1_Stand_Aim_Point_Center.9=all
W2_M1_Stand_Aim_Point_Center.10=all
W2_M1_Stand_Aim_Point_Center.11=all
W2_M1_Stand_Aim_Point_Center.12=all
W2_M1_Stand_Aim_Point_Center.13=all
W2_M1_Stand_Aim_Point_Center.14=all
W2_M1_Stand_Aim_Point_Center.15=all
W2_M1_Stand_Aim_Point_Center.16=all
W2_M1_Stand_Aim_Point_Center.17=all
W2_M1_Stand_Aim_Point_Center.18=all
W2_M1_Stand_Aim_Point_Center.19=all
W2_M1_Stand_Aim_Point_Center.20=all
W2_M1_Stand_Aim_Point_Center.21=all
W2_M1_Stand_Aim_Point_Center.22=all
W2_M1_Stand_Aim_Point_Center.23=all
W2_M1_Stand_Aim_Point_Center.24=all
W2_M1_Stand_Aim_Point_Center.25=all
W2_M1_Stand_Aim_Point_Center.26=all
W2_M1_Stand_Aim_Point_Center.27=all
W2_M1_Stand_Aim_Point_Center.28=all
W2_M1_Stand_Aim_Point_Center.29=all
W2_M1_Stand_Aim_Point_Center.30=all
W2_M1_Stand_Aim_Point_Center.31=all
W2_M1_Stand_Aim_Point_Center.32=all
W2_M1_Stand_Aim_Point_Center.33=all
W2_M1_Stand_Aim_Point_Center.34=all
W2_M1_Stand_Aim_Point_Center.35=all
W2_M1_Stand_Aim_Point_Center.36=all
W2_M1_Stand_Aim_Point_Center.37=all
W2_M1_Stand_Aim_Point_Center.38=all
W2_M1_Stand_Aim_Point_Center.39=all
W2_M1_Stand_Aim_Point_Center.40=all
W2_M1_Stand_Aim_Point_Center.41=all
W2_M1_Stand_Aim_Point_Center.42=all
W2_M1_Stand_Aim_Point_Center.43=all
W2_M1_Stand_Aim_Point_Center.44=all
W2_M1_Stand_Aim_Point_Center.45=all
W2_M1_Stand_Aim_Point_Center.46=all
W2_M1_Stand_Aim_Point_Center.47=all
W2_M1_Stand_Aim_Point_Center.48=all
W2_M1_Stand_Aim_Point_Center.49=all
W2_M1_Stand_Aim_Point_Center.50=all
W2_M1_Stand_Aim_Point_Center.51=all
W2_M1_Stand_Aim_Point_Center.52=all
W2_M1_Stand_Aim_Point_Center.53=all
W2_M1_Stand_Aim_Point_Center.54=all
W2_M1_Stand_Aim_Point_Center.55=all
W2_M1_Stand_Aim_Point_Center.56=all
W2_M1_Stand_Aim_Point_Center.57=all
W2_M1_Stand_Aim_Point_Center.58=all
W2_M1_Stand_Aim_Point_Center.59=all
W2_M1_Stand_Aim_Point_Center.60=all
W2_M1_Stand_Aim_Point_Center.61=all
W2_M1_Stand_Aim_Point_Center.62=all
W2_M1_Stand_Aim_Point_Center.63=all
W2_M1_Stand_Aim_Point_Center.64=all
W2_M1_Stand_Aim_Point_Center.65=all
W2_M1_Stand_Aim_Point_Center.66=all
W2_M1_Stand_Aim_Point_Center.67=all
W2_M1_Stand_Aim_Point_Center.68=all
W2_M1_Stand_Aim_Point_Center.69=all
W2_M1_Stand_Aim_Point_Center.70=all
W2_M1_Stand_Aim_Point_Center.71=all
W2_M1_Stand_Aim_Point_Center.72=all
W2_M1_Stand_Aim_Point_Center.73=all
W2_M1_Stand_Aim_Point_Center.74=all
W2_M1_Stand_Aim_Point_Center.75=all
W2_M1_Stand_Aim_Point_Center.76=all
W2_M1_Stand_Aim_Point_Center.77=all
W2_M1_Stand_Aim_Point_Center.78=all
W2_M1_Stand_Aim_Point_Center.79=all
W2_M1_Stand_Aim_Point_Center.80=all
W2_M1_Stand_Aim_Point_Center.81=all
W2_M1_Stand_Aim_Point_Center.82=all
W2_M1_Stand_Aim_Point_Center.83=all
W2_M1_Stand_Aim_Point_Center.84=all
W2_M1_Stand_Aim_Point_Center.85=all
W2_M1_Stand_Aim_Point_Center.86=all
W2_M1_Stand_Aim_Point_Center.87=all
W2_M1_Stand_Aim_Point_Center.88=all
W2_M1_Stand_Aim_Point_Center.89=all
W2_M1_Stand_Aim_Point_Center.90=all
W2_M1_Stand_Aim_Point_Center.91=all
