
[RemoveTracks]
Lobby_back_man01_idle_01.70=all
Lobby_back_man01_idle_01.71=all
Lobby_back_man01_idle_01.72=all
Lobby_back_man01_idle_01.73=all
Lobby_back_man01_idle_01.74=all
Lobby_back_man01_idle_01.75=all
Lobby_back_man01_idle_01.76=all
Lobby_back_man01_idle_01.77=all
Lobby_back_man01_idle_01.78=all
Lobby_back_man01_idle_01.79=all
Lobby_back_man01_idle_01.80=all
Lobby_back_man01_idle_01.81=all
Lobby_back_man01_idle_01.82=all
Lobby_back_man01_idle_01.83=all
Lobby_back_man01_idle_01.84=all
Lobby_back_man01_idle_01.85=all
Lobby_back_man01_idle_01.86=all
Lobby_back_man01_idle_01.87=all
Lobby_back_man01_idle_01.88=all
Lobby_back_man01_idle_01.89=all
Lobby_back_man01_idle_01.90=all
Lobby_back_man01_idle_01.91=all
