
[RemoveTracks]
W2_M1_FP_Stand_Aim_Point_L90.1=all
W2_M1_FP_Stand_Aim_Point_L90.51=all
W2_M1_FP_Stand_Aim_Point_L90.52=all
W2_M1_FP_Stand_Aim_Point_L90.53=all
W2_M1_FP_Stand_Aim_Point_L90.54=all
W2_M1_FP_Stand_Aim_Point_L90.55=all
W2_M1_FP_Stand_Aim_Point_L90.56=all
W2_M1_FP_Stand_Aim_Point_L90.57=all
W2_M1_FP_Stand_Aim_Point_L90.58=all
W2_M1_FP_Stand_Aim_Point_L90.59=all
W2_M1_FP_Stand_Aim_Point_L90.60=all
W2_M1_FP_Stand_Aim_Point_L90.61=all
W2_M1_FP_Stand_Aim_Point_L90.62=all
W2_M1_FP_Stand_Aim_Point_L90.63=all
W2_M1_FP_Stand_Aim_Point_L90.64=all
W2_M1_FP_Stand_Aim_Point_L90.65=all
W2_M1_FP_Stand_Aim_Point_L90.66=all
