
[RemoveTracks]
W2_M1_FP_Stand_Aim_Point_RU45.1=all
W2_M1_FP_Stand_Aim_Point_RU45.51=all
W2_M1_FP_Stand_Aim_Point_RU45.52=all
W2_M1_FP_Stand_Aim_Point_RU45.53=all
W2_M1_FP_Stand_Aim_Point_RU45.54=all
W2_M1_FP_Stand_Aim_Point_RU45.55=all
W2_M1_FP_Stand_Aim_Point_RU45.56=all
W2_M1_FP_Stand_Aim_Point_RU45.57=all
W2_M1_FP_Stand_Aim_Point_RU45.58=all
W2_M1_FP_Stand_Aim_Point_RU45.59=all
W2_M1_FP_Stand_Aim_Point_RU45.60=all
W2_M1_FP_Stand_Aim_Point_RU45.61=all
W2_M1_FP_Stand_Aim_Point_RU45.62=all
W2_M1_FP_Stand_Aim_Point_RU45.63=all
W2_M1_FP_Stand_Aim_Point_RU45.64=all
W2_M1_FP_Stand_Aim_Point_RU45.65=all
W2_M1_FP_Stand_Aim_Point_RU45.66=all
