
[RemoveTracks]
W2_M1_FP_Stand_Aim_Point_LU45.1=all
W2_M1_FP_Stand_Aim_Point_LU45.51=all
W2_M1_FP_Stand_Aim_Point_LU45.52=all
W2_M1_FP_Stand_Aim_Point_LU45.53=all
W2_M1_FP_Stand_Aim_Point_LU45.54=all
W2_M1_FP_Stand_Aim_Point_LU45.55=all
W2_M1_FP_Stand_Aim_Point_LU45.56=all
W2_M1_FP_Stand_Aim_Point_LU45.57=all
W2_M1_FP_Stand_Aim_Point_LU45.58=all
W2_M1_FP_Stand_Aim_Point_LU45.59=all
W2_M1_FP_Stand_Aim_Point_LU45.60=all
W2_M1_FP_Stand_Aim_Point_LU45.61=all
W2_M1_FP_Stand_Aim_Point_LU45.62=all
W2_M1_FP_Stand_Aim_Point_LU45.63=all
W2_M1_FP_Stand_Aim_Point_LU45.64=all
W2_M1_FP_Stand_Aim_Point_LU45.65=all
W2_M1_FP_Stand_Aim_Point_LU45.66=all
