
[RemoveTracks]
W2_M1_FP_Stand_Aim_Point_R45.1=all
W2_M1_FP_Stand_Aim_Point_R45.51=all
W2_M1_FP_Stand_Aim_Point_R45.52=all
W2_M1_FP_Stand_Aim_Point_R45.53=all
W2_M1_FP_Stand_Aim_Point_R45.54=all
W2_M1_FP_Stand_Aim_Point_R45.55=all
W2_M1_FP_Stand_Aim_Point_R45.56=all
W2_M1_FP_Stand_Aim_Point_R45.57=all
W2_M1_FP_Stand_Aim_Point_R45.58=all
W2_M1_FP_Stand_Aim_Point_R45.59=all
W2_M1_FP_Stand_Aim_Point_R45.60=all
W2_M1_FP_Stand_Aim_Point_R45.61=all
W2_M1_FP_Stand_Aim_Point_R45.62=all
W2_M1_FP_Stand_Aim_Point_R45.63=all
W2_M1_FP_Stand_Aim_Point_R45.64=all
W2_M1_FP_Stand_Aim_Point_R45.65=all
W2_M1_FP_Stand_Aim_Point_R45.66=all
