
[RemoveTracks]
W2_M1_FP_Stand_Aim_Point_U45.1=all
W2_M1_FP_Stand_Aim_Point_U45.51=all
W2_M1_FP_Stand_Aim_Point_U45.52=all
W2_M1_FP_Stand_Aim_Point_U45.53=all
W2_M1_FP_Stand_Aim_Point_U45.54=all
W2_M1_FP_Stand_Aim_Point_U45.55=all
W2_M1_FP_Stand_Aim_Point_U45.56=all
W2_M1_FP_Stand_Aim_Point_U45.57=all
W2_M1_FP_Stand_Aim_Point_U45.58=all
W2_M1_FP_Stand_Aim_Point_U45.59=all
W2_M1_FP_Stand_Aim_Point_U45.60=all
W2_M1_FP_Stand_Aim_Point_U45.61=all
W2_M1_FP_Stand_Aim_Point_U45.62=all
W2_M1_FP_Stand_Aim_Point_U45.63=all
W2_M1_FP_Stand_Aim_Point_U45.64=all
W2_M1_FP_Stand_Aim_Point_U45.65=all
W2_M1_FP_Stand_Aim_Point_U45.66=all
