
[RemoveTracks]
FPS_Food_01_Idle.70=all
FPS_Food_01_Idle.71=all
FPS_Food_01_Idle.72=all
FPS_Food_01_Idle.73=all
FPS_Food_01_Idle.74=all
FPS_Food_01_Idle.75=all
FPS_Food_01_Idle.76=all
FPS_Food_01_Idle.77=all
FPS_Food_01_Idle.78=all
FPS_Food_01_Idle.79=all
FPS_Food_01_Idle.80=all
FPS_Food_01_Idle.81=all
FPS_Food_01_Idle.82=all
FPS_Food_01_Idle.83=all
FPS_Food_01_Idle.84=all
FPS_Food_01_Idle.85=all
FPS_Food_01_Idle.86=all
FPS_Food_01_Idle.87=all
FPS_Food_01_Idle.88=all
FPS_Food_01_Idle.89=all
FPS_Food_01_Idle.90=all
FPS_Food_01_Idle.91=all
