
[RemoveTracks]
M1_GAZ-69_Driver_Aim_Offsets_Left.1=all
M1_GAZ-69_Driver_Aim_Offsets_Left.51=all
M1_GAZ-69_Driver_Aim_Offsets_Left.52=all
M1_GAZ-69_Driver_Aim_Offsets_Left.53=all
M1_GAZ-69_Driver_Aim_Offsets_Left.54=all
M1_GAZ-69_Driver_Aim_Offsets_Left.55=all
M1_GAZ-69_Driver_Aim_Offsets_Left.56=all
M1_GAZ-69_Driver_Aim_Offsets_Left.57=all
M1_GAZ-69_Driver_Aim_Offsets_Left.58=all
M1_GAZ-69_Driver_Aim_Offsets_Left.59=all
M1_GAZ-69_Driver_Aim_Offsets_Left.60=all
M1_GAZ-69_Driver_Aim_Offsets_Left.61=all
M1_GAZ-69_Driver_Aim_Offsets_Left.62=all
M1_GAZ-69_Driver_Aim_Offsets_Left.63=all
M1_GAZ-69_Driver_Aim_Offsets_Left.65=all
M1_GAZ-69_Driver_Aim_Offsets_Left.66=all
