
[RemoveTracks]
M1_GAZ-69_Driver_Aim_Offsets_Down.1=all
M1_GAZ-69_Driver_Aim_Offsets_Down.51=all
M1_GAZ-69_Driver_Aim_Offsets_Down.52=all
M1_GAZ-69_Driver_Aim_Offsets_Down.53=all
M1_GAZ-69_Driver_Aim_Offsets_Down.54=all
M1_GAZ-69_Driver_Aim_Offsets_Down.55=all
M1_GAZ-69_Driver_Aim_Offsets_Down.56=all
M1_GAZ-69_Driver_Aim_Offsets_Down.57=all
M1_GAZ-69_Driver_Aim_Offsets_Down.58=all
M1_GAZ-69_Driver_Aim_Offsets_Down.59=all
M1_GAZ-69_Driver_Aim_Offsets_Down.60=all
M1_GAZ-69_Driver_Aim_Offsets_Down.61=all
M1_GAZ-69_Driver_Aim_Offsets_Down.62=all
M1_GAZ-69_Driver_Aim_Offsets_Down.63=all
M1_GAZ-69_Driver_Aim_Offsets_Down.65=all
M1_GAZ-69_Driver_Aim_Offsets_Down.66=all
