
[RemoveTracks]
M1_GAZ-69_Driver_Aim_Offsets_Right.1=all
M1_GAZ-69_Driver_Aim_Offsets_Right.51=all
M1_GAZ-69_Driver_Aim_Offsets_Right.52=all
M1_GAZ-69_Driver_Aim_Offsets_Right.53=all
M1_GAZ-69_Driver_Aim_Offsets_Right.54=all
M1_GAZ-69_Driver_Aim_Offsets_Right.55=all
M1_GAZ-69_Driver_Aim_Offsets_Right.56=all
M1_GAZ-69_Driver_Aim_Offsets_Right.57=all
M1_GAZ-69_Driver_Aim_Offsets_Right.58=all
M1_GAZ-69_Driver_Aim_Offsets_Right.59=all
M1_GAZ-69_Driver_Aim_Offsets_Right.60=all
M1_GAZ-69_Driver_Aim_Offsets_Right.61=all
M1_GAZ-69_Driver_Aim_Offsets_Right.62=all
M1_GAZ-69_Driver_Aim_Offsets_Right.63=all
M1_GAZ-69_Driver_Aim_Offsets_Right.65=all
M1_GAZ-69_Driver_Aim_Offsets_Right.66=all
