
[RemoveTracks]
M1_GAZ-69_Driver_Aim_Offsets_Center.1=all
M1_GAZ-69_Driver_Aim_Offsets_Center.49=all
M1_GAZ-69_Driver_Aim_Offsets_Center.50=all
M1_GAZ-69_Driver_Aim_Offsets_Center.51=all
M1_GAZ-69_Driver_Aim_Offsets_Center.52=all
M1_GAZ-69_Driver_Aim_Offsets_Center.53=all
M1_GAZ-69_Driver_Aim_Offsets_Center.54=all
M1_GAZ-69_Driver_Aim_Offsets_Center.55=all
M1_GAZ-69_Driver_Aim_Offsets_Center.56=all
M1_GAZ-69_Driver_Aim_Offsets_Center.57=all
M1_GAZ-69_Driver_Aim_Offsets_Center.58=all
M1_GAZ-69_Driver_Aim_Offsets_Center.59=all
M1_GAZ-69_Driver_Aim_Offsets_Center.60=all
M1_GAZ-69_Driver_Aim_Offsets_Center.61=all
M1_GAZ-69_Driver_Aim_Offsets_Center.62=all
M1_GAZ-69_Driver_Aim_Offsets_Center.63=all
M1_GAZ-69_Driver_Aim_Offsets_Center.64=all
M1_GAZ-69_Driver_Aim_Offsets_Center.65=all
M1_GAZ-69_Driver_Aim_Offsets_Center.66=all
M1_GAZ-69_Driver_Aim_Offsets_Center.70=all
M1_GAZ-69_Driver_Aim_Offsets_Center.71=all
M1_GAZ-69_Driver_Aim_Offsets_Center.72=all
M1_GAZ-69_Driver_Aim_Offsets_Center.73=all
M1_GAZ-69_Driver_Aim_Offsets_Center.74=all
M1_GAZ-69_Driver_Aim_Offsets_Center.75=all
M1_GAZ-69_Driver_Aim_Offsets_Center.76=all
M1_GAZ-69_Driver_Aim_Offsets_Center.77=all
M1_GAZ-69_Driver_Aim_Offsets_Center.78=all
M1_GAZ-69_Driver_Aim_Offsets_Center.79=all
M1_GAZ-69_Driver_Aim_Offsets_Center.80=all
M1_GAZ-69_Driver_Aim_Offsets_Center.81=all
M1_GAZ-69_Driver_Aim_Offsets_Center.82=all
M1_GAZ-69_Driver_Aim_Offsets_Center.83=all
M1_GAZ-69_Driver_Aim_Offsets_Center.84=all
M1_GAZ-69_Driver_Aim_Offsets_Center.85=all
M1_GAZ-69_Driver_Aim_Offsets_Center.86=all
M1_GAZ-69_Driver_Aim_Offsets_Center.87=all
M1_GAZ-69_Driver_Aim_Offsets_Center.88=all
M1_GAZ-69_Driver_Aim_Offsets_Center.89=all
M1_GAZ-69_Driver_Aim_Offsets_Center.90=all
M1_GAZ-69_Driver_Aim_Offsets_Center.91=all
