
[RemoveTracks]
M1_GAZ-69_Driver_Aim_Offsets_Up.1=all
M1_GAZ-69_Driver_Aim_Offsets_Up.51=all
M1_GAZ-69_Driver_Aim_Offsets_Up.52=all
M1_GAZ-69_Driver_Aim_Offsets_Up.53=all
M1_GAZ-69_Driver_Aim_Offsets_Up.54=all
M1_GAZ-69_Driver_Aim_Offsets_Up.55=all
M1_GAZ-69_Driver_Aim_Offsets_Up.56=all
M1_GAZ-69_Driver_Aim_Offsets_Up.57=all
M1_GAZ-69_Driver_Aim_Offsets_Up.58=all
M1_GAZ-69_Driver_Aim_Offsets_Up.59=all
M1_GAZ-69_Driver_Aim_Offsets_Up.60=all
M1_GAZ-69_Driver_Aim_Offsets_Up.61=all
M1_GAZ-69_Driver_Aim_Offsets_Up.62=all
M1_GAZ-69_Driver_Aim_Offsets_Up.63=all
M1_GAZ-69_Driver_Aim_Offsets_Up.65=all
M1_GAZ-69_Driver_Aim_Offsets_Up.66=all
