
[RemoveTracks]
knockdown_to_stand_IP_01.70=all
knockdown_to_stand_IP_01.71=all
knockdown_to_stand_IP_01.72=all
knockdown_to_stand_IP_01.73=all
knockdown_to_stand_IP_01.74=all
knockdown_to_stand_IP_01.75=all
knockdown_to_stand_IP_01.76=all
knockdown_to_stand_IP_01.77=all
knockdown_to_stand_IP_01.78=all
knockdown_to_stand_IP_01.79=all
knockdown_to_stand_IP_01.80=all
knockdown_to_stand_IP_01.81=all
knockdown_to_stand_IP_01.82=all
knockdown_to_stand_IP_01.83=all
knockdown_to_stand_IP_01.84=all
knockdown_to_stand_IP_01.85=all
knockdown_to_stand_IP_01.86=all
knockdown_to_stand_IP_01.87=all
knockdown_to_stand_IP_01.88=all
knockdown_to_stand_IP_01.89=all
knockdown_to_stand_IP_01.90=all
knockdown_to_stand_IP_01.91=all
