
[RemoveTracks]
MOB1_HitReaction_Pose.70=all
MOB1_HitReaction_Pose.71=all
MOB1_HitReaction_Pose.72=all
MOB1_HitReaction_Pose.73=all
MOB1_HitReaction_Pose.74=all
MOB1_HitReaction_Pose.75=all
MOB1_HitReaction_Pose.76=all
MOB1_HitReaction_Pose.77=all
MOB1_HitReaction_Pose.78=all
MOB1_HitReaction_Pose.79=all
MOB1_HitReaction_Pose.80=all
MOB1_HitReaction_Pose.81=all
MOB1_HitReaction_Pose.82=all
MOB1_HitReaction_Pose.83=all
MOB1_HitReaction_Pose.84=all
MOB1_HitReaction_Pose.85=all
MOB1_HitReaction_Pose.86=all
MOB1_HitReaction_Pose.87=all
MOB1_HitReaction_Pose.88=all
MOB1_HitReaction_Pose.89=all
MOB1_HitReaction_Pose.90=all
MOB1_HitReaction_Pose.91=all
