
[RemoveTracks]
W2_Lie_Idle_IP.24=all
W2_Lie_Idle_IP.46=all
W2_Lie_Idle_IP.70=all
W2_Lie_Idle_IP.71=all
W2_Lie_Idle_IP.72=all
W2_Lie_Idle_IP.73=all
W2_Lie_Idle_IP.74=all
W2_Lie_Idle_IP.75=all
W2_Lie_Idle_IP.76=all
W2_Lie_Idle_IP.77=all
W2_Lie_Idle_IP.78=all
W2_Lie_Idle_IP.79=all
W2_Lie_Idle_IP.80=all
W2_Lie_Idle_IP.81=all
W2_Lie_Idle_IP.82=all
W2_Lie_Idle_IP.83=all
W2_Lie_Idle_IP.84=all
W2_Lie_Idle_IP.85=all
W2_Lie_Idle_IP.86=all
W2_Lie_Idle_IP.87=all
W2_Lie_Idle_IP.88=all
W2_Lie_Idle_IP.89=all
W2_Lie_Idle_IP.90=all
W2_Lie_Idle_IP.91=all
