
[RemoveTracks]
MOB1_M1_High_ClimbOver_W201_D0_St_L45.70=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.71=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.72=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.73=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.74=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.75=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.76=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.77=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.78=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.79=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.80=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.81=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.82=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.83=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.84=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.85=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.86=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.87=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.88=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.89=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.90=all
MOB1_M1_High_ClimbOver_W201_D0_St_L45.91=all
