
[RemoveTracks]
MOB1_M1_High_ClimbOver_W110_D0_End_R45.70=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.71=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.72=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.73=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.74=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.75=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.76=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.77=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.78=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.79=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.80=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.81=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.82=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.83=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.84=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.85=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.86=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.87=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.88=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.89=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.90=all
MOB1_M1_High_ClimbOver_W110_D0_End_R45.91=all
