
[RemoveTracks]
MOB1_M1_High_ClimbUp_W201_D0_End_F.70=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.71=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.72=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.73=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.74=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.75=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.76=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.77=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.78=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.79=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.80=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.81=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.82=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.83=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.84=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.85=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.86=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.87=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.88=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.89=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.90=all
MOB1_M1_High_ClimbUp_W201_D0_End_F.91=all
