
[RemoveTracks]
W2_Axe_Offsets_Center_01.1=all
W2_Axe_Offsets_Center_01.2=all
W2_Axe_Offsets_Center_01.3=all
W2_Axe_Offsets_Center_01.4=all
W2_Axe_Offsets_Center_01.5=all
W2_Axe_Offsets_Center_01.6=all
W2_Axe_Offsets_Center_01.7=all
W2_Axe_Offsets_Center_01.8=all
W2_Axe_Offsets_Center_01.9=all
W2_Axe_Offsets_Center_01.10=all
W2_Axe_Offsets_Center_01.11=all
W2_Axe_Offsets_Center_01.12=all
W2_Axe_Offsets_Center_01.13=all
W2_Axe_Offsets_Center_01.14=all
W2_Axe_Offsets_Center_01.15=all
W2_Axe_Offsets_Center_01.16=all
W2_Axe_Offsets_Center_01.17=all
W2_Axe_Offsets_Center_01.18=all
W2_Axe_Offsets_Center_01.19=all
W2_Axe_Offsets_Center_01.20=all
W2_Axe_Offsets_Center_01.21=all
W2_Axe_Offsets_Center_01.22=all
W2_Axe_Offsets_Center_01.23=all
W2_Axe_Offsets_Center_01.24=all
W2_Axe_Offsets_Center_01.25=all
W2_Axe_Offsets_Center_01.26=all
W2_Axe_Offsets_Center_01.27=all
W2_Axe_Offsets_Center_01.28=all
W2_Axe_Offsets_Center_01.29=all
W2_Axe_Offsets_Center_01.30=all
W2_Axe_Offsets_Center_01.31=all
W2_Axe_Offsets_Center_01.32=all
W2_Axe_Offsets_Center_01.33=all
W2_Axe_Offsets_Center_01.34=all
W2_Axe_Offsets_Center_01.35=all
W2_Axe_Offsets_Center_01.36=all
W2_Axe_Offsets_Center_01.37=all
W2_Axe_Offsets_Center_01.38=all
W2_Axe_Offsets_Center_01.39=all
W2_Axe_Offsets_Center_01.40=all
W2_Axe_Offsets_Center_01.41=all
W2_Axe_Offsets_Center_01.42=all
W2_Axe_Offsets_Center_01.43=all
W2_Axe_Offsets_Center_01.44=all
W2_Axe_Offsets_Center_01.45=all
W2_Axe_Offsets_Center_01.46=all
W2_Axe_Offsets_Center_01.47=all
W2_Axe_Offsets_Center_01.48=all
W2_Axe_Offsets_Center_01.49=all
W2_Axe_Offsets_Center_01.50=all
W2_Axe_Offsets_Center_01.51=all
W2_Axe_Offsets_Center_01.52=all
W2_Axe_Offsets_Center_01.53=all
W2_Axe_Offsets_Center_01.54=all
W2_Axe_Offsets_Center_01.55=all
W2_Axe_Offsets_Center_01.56=all
W2_Axe_Offsets_Center_01.57=all
W2_Axe_Offsets_Center_01.58=all
W2_Axe_Offsets_Center_01.59=all
W2_Axe_Offsets_Center_01.60=all
W2_Axe_Offsets_Center_01.61=all
W2_Axe_Offsets_Center_01.62=all
W2_Axe_Offsets_Center_01.63=all
W2_Axe_Offsets_Center_01.64=all
W2_Axe_Offsets_Center_01.65=all
W2_Axe_Offsets_Center_01.66=all
W2_Axe_Offsets_Center_01.67=all
W2_Axe_Offsets_Center_01.68=all
W2_Axe_Offsets_Center_01.69=all
W2_Axe_Offsets_Center_01.70=all
W2_Axe_Offsets_Center_01.71=all
W2_Axe_Offsets_Center_01.72=all
W2_Axe_Offsets_Center_01.73=all
W2_Axe_Offsets_Center_01.74=all
W2_Axe_Offsets_Center_01.75=all
W2_Axe_Offsets_Center_01.76=all
W2_Axe_Offsets_Center_01.77=all
W2_Axe_Offsets_Center_01.78=all
W2_Axe_Offsets_Center_01.79=all
W2_Axe_Offsets_Center_01.80=all
W2_Axe_Offsets_Center_01.81=all
W2_Axe_Offsets_Center_01.82=all
W2_Axe_Offsets_Center_01.83=all
W2_Axe_Offsets_Center_01.84=all
W2_Axe_Offsets_Center_01.85=all
W2_Axe_Offsets_Center_01.86=all
W2_Axe_Offsets_Center_01.87=all
W2_Axe_Offsets_Center_01.88=all
W2_Axe_Offsets_Center_01.89=all
W2_Axe_Offsets_Center_01.90=all
W2_Axe_Offsets_Center_01.91=all
