
[RemoveTracks]
W2_Axe_Offsets_Center_Pose.70=all
W2_Axe_Offsets_Center_Pose.71=all
W2_Axe_Offsets_Center_Pose.72=all
W2_Axe_Offsets_Center_Pose.73=all
W2_Axe_Offsets_Center_Pose.74=all
W2_Axe_Offsets_Center_Pose.75=all
W2_Axe_Offsets_Center_Pose.76=all
W2_Axe_Offsets_Center_Pose.77=all
W2_Axe_Offsets_Center_Pose.78=all
W2_Axe_Offsets_Center_Pose.79=all
W2_Axe_Offsets_Center_Pose.80=all
W2_Axe_Offsets_Center_Pose.81=all
W2_Axe_Offsets_Center_Pose.82=all
W2_Axe_Offsets_Center_Pose.83=all
W2_Axe_Offsets_Center_Pose.84=all
W2_Axe_Offsets_Center_Pose.85=all
W2_Axe_Offsets_Center_Pose.86=all
W2_Axe_Offsets_Center_Pose.87=all
W2_Axe_Offsets_Center_Pose.88=all
W2_Axe_Offsets_Center_Pose.89=all
W2_Axe_Offsets_Center_Pose.90=all
W2_Axe_Offsets_Center_Pose.91=all
