
[RemoveTracks]
FP_Cam_Sprint.1=all
FP_Cam_Sprint.51=all
FP_Cam_Sprint.52=all
FP_Cam_Sprint.53=all
FP_Cam_Sprint.54=all
FP_Cam_Sprint.55=all
FP_Cam_Sprint.56=all
FP_Cam_Sprint.57=all
FP_Cam_Sprint.58=all
FP_Cam_Sprint.59=all
FP_Cam_Sprint.60=all
FP_Cam_Sprint.61=all
FP_Cam_Sprint.62=all
FP_Cam_Sprint.63=all
FP_Cam_Sprint.64=all
FP_Cam_Sprint.65=all
FP_Cam_Sprint.66=all
