
[RemoveTracks]
FP_Cam_Idle_01.1=all
FP_Cam_Idle_01.2=all
FP_Cam_Idle_01.50=all
FP_Cam_Idle_01.51=all
FP_Cam_Idle_01.52=all
FP_Cam_Idle_01.53=all
FP_Cam_Idle_01.54=all
FP_Cam_Idle_01.55=all
FP_Cam_Idle_01.56=all
FP_Cam_Idle_01.57=all
FP_Cam_Idle_01.58=all
FP_Cam_Idle_01.59=all
FP_Cam_Idle_01.60=all
FP_Cam_Idle_01.61=all
FP_Cam_Idle_01.62=all
FP_Cam_Idle_01.63=all
FP_Cam_Idle_01.64=all
FP_Cam_Idle_01.65=all
FP_Cam_Idle_01.66=all
FP_Cam_Idle_01.70=all
FP_Cam_Idle_01.71=all
FP_Cam_Idle_01.72=all
FP_Cam_Idle_01.73=all
FP_Cam_Idle_01.74=all
FP_Cam_Idle_01.75=all
FP_Cam_Idle_01.76=all
FP_Cam_Idle_01.77=all
FP_Cam_Idle_01.78=all
FP_Cam_Idle_01.79=all
FP_Cam_Idle_01.80=all
FP_Cam_Idle_01.81=all
FP_Cam_Idle_01.82=all
FP_Cam_Idle_01.83=all
FP_Cam_Idle_01.84=all
FP_Cam_Idle_01.85=all
FP_Cam_Idle_01.86=all
FP_Cam_Idle_01.87=all
FP_Cam_Idle_01.88=all
FP_Cam_Idle_01.89=all
FP_Cam_Idle_01.90=all
FP_Cam_Idle_01.91=all
