
[RemoveTracks]
FPS_Drink_01_Idle_Pose.70=all
FPS_Drink_01_Idle_Pose.71=all
FPS_Drink_01_Idle_Pose.72=all
FPS_Drink_01_Idle_Pose.73=all
FPS_Drink_01_Idle_Pose.74=all
FPS_Drink_01_Idle_Pose.75=all
FPS_Drink_01_Idle_Pose.76=all
FPS_Drink_01_Idle_Pose.77=all
FPS_Drink_01_Idle_Pose.78=all
FPS_Drink_01_Idle_Pose.79=all
FPS_Drink_01_Idle_Pose.80=all
FPS_Drink_01_Idle_Pose.81=all
FPS_Drink_01_Idle_Pose.82=all
FPS_Drink_01_Idle_Pose.83=all
FPS_Drink_01_Idle_Pose.84=all
FPS_Drink_01_Idle_Pose.85=all
FPS_Drink_01_Idle_Pose.86=all
FPS_Drink_01_Idle_Pose.87=all
FPS_Drink_01_Idle_Pose.88=all
FPS_Drink_01_Idle_Pose.89=all
FPS_Drink_01_Idle_Pose.90=all
FPS_Drink_01_Idle_Pose.91=all
