
[RemoveTracks]
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.70=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.71=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.72=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.73=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.74=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.75=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.76=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.77=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.78=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.79=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.80=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.81=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.82=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.83=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.84=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.85=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.86=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.87=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.88=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.89=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.90=all
MOB1_M1_Climb_up_Low_w115_D0_D72_End_M_01.91=all
